# Para .env
PORT=4001
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgres://usuario:password@localhost:5432/class_track_test
NODE_ENV=
JWT_SEED=llave
JWT_STUDENT_SEED=LLAVE_studiante

DATABASE_USER=usuario
DATABASE_PASSWORD=password
DATABASE_NAME=bd_dev

# Para .env.test
PORT=4001
FRONTEND_URL=http://localhost
DATABASE_URL=postgres://usuario:password@localhost:5432/bd_test
NODE_ENV=
JWT_SEED=llave
JWT_STUDENT_SEED=LLAVE_studiante
DOCUMENTATION_URL=http://localhost

DATABASE_USER=usuario
DATABASE_PASSWORD=password
DATABASE_NAME=bd_test