# Variables para todos los entornos (.env, .env.local, .env.test, .env.test.local)
PORT=4000

PUBLIC_IP=ip_address
ADMIN_DESK_URL=http://${PUBLIC_IP}:port
CLASS_TRACK_URL=http://${PUBLIC_IP}:port

NODE_ENV=development
JWT_SEED=seed_backend
JWT_STUDENT_SEED=seed_student

DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=bd_name



## .env
DATABASE_URL=postgresql://user:password@docker_container_db:5432/bd_name
NODE_ENV=development

## Para .env.local
DATABASE_URL=postgresql://user:password@localhost:5432/bd_name
NODE_ENV=development

# Tests
DATABASE_URL=postgres://usuario:password@docker_container_db:5434/data_base_name_test
NODE_ENV=test

# Para .env.test
DATABASE_URL=postgres://usuario:password@localhost:5434/data_base_name_test
NODE_ENV=test
