# Para .env
PORT=4001
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgres://usuario:password@localhost:5432/class_track_test
NODE_ENV=
JWT_SEED=llave
JWT_STUDENT_SEED=LLAVE_studiante

# Para .env.test
PORT=4001
FRONTEND_URL=http://localhost
DATABASE_URL=postgres://usuario:password@localhost:5432/bd_test
NODE_ENV=
JWT_SEED=llave
JWT_STUDENT_SEED=LLAVE_studiante
DOCUMENTATION_URL=http://localhost